(
  world: (
    terrain_generation: (
      biomes: {
        FloodedRuins: [
          (Stone,(start:0.5,end:0.6)),
          (Water,(start:0.0,end:0.5)),
          (Grass,(start:0.7,end:0.9)),
          (Sand,(start:0.5,end:0.7))],
      },
      base_terrain: (
        seed: 34,
        noise_scale_factor: (x:4.0,y:4.0),
      ),
      decoration: (
        seed: 34,
        noise_scale_factor: (x:2.0,y:2.0),
      ),
    ),
    tile_size: (
      64.0,
      64.0,
    ),
    tile_scale: 1.0,
  ),
  hero: (
    move_speed: 2.1,
  ),
)