#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
CwConfig(
  debug_flags: CwDebugFlags(
    print_player_position: true,
    debug_chunk: true,
  ),
  world: WorldBuilderConfig(
    terrain_generation: TerrainGeneratorConfig(
      seed: 34,
      terrains: [
        TerrainConfig(
          name: "DeepWater",
          base: DeepWater,
          color: None,
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: None,
        ),
        TerrainConfig(
          name: "ShallowWater",
          base: ShallowWater,
          color: None,
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.4,
        ),
        TerrainConfig(
          name: "Lava",
          base: Lava,
          color: None,
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.3,
        ),
        TerrainConfig(
          name: "SwampWater",
          base: ShallowWater,
          color: (
            215,
            240,
            200,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.4,
        ),
        TerrainConfig(
          name: "FrozenWater",
          base: FrozenWater,
          color: None,
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 1.4,
        ),
        TerrainConfig(
          name: "Snow",
          base: Snow,
          color: None,
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.5,
        ),
        TerrainConfig(
          name: "BlueSnow",
          base: Snow,
          color: (
            230,
            240,
            255,
          ),
          decoration_color: None,
          walkable: false,
          move_speed_multiplier: 0.6,
        ),
        TerrainConfig(
          name: "Grass",
          base: Grass,
          color: None,
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: None,
        ),
        TerrainConfig(
          name: "TundraGrass",
          base: Grass,
          color: (
            230,
            230,
            255,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 1.0,
        ),
        TerrainConfig(
          name: "FrozenGrass",
          base: Grass,
          color: (
            170,
            190,
            255,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.9,
        ),
        TerrainConfig(
          name: "PlainsGrass",
          base: Grass,
          color: (
            250,
            235,
            220,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: None,
        ),
        TerrainConfig(
          name: "DarkGrass",
          base: Grass,
          color: (
            225,
            225,
            225,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.9,
        ),
        TerrainConfig(
          name: "SwampGrass",
          base: Grass,
          color: (
            190,
            185,
            160,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.8,
        ),
        TerrainConfig(
          name: "Mud",
          base: Mud,
          color: None,
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.8,
        ),
        TerrainConfig(
          name: "RedMud",
          base: Mud,
          color: (
            255,
            235,
            220,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.8,
        ),
        TerrainConfig(
          name: "DarkMud",
          base: Mud,
          color: (
            225,
            225,
            225,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.7,
        ),
        TerrainConfig(
          name: "Clay",
          base: Clay,
          color: None,
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.7,
        ),
        TerrainConfig(
          name: "VolcanicClay",
          base: Clay,
          color: (
            230,
            60,
            90,
          ),
          decoration_color: (
            230,
            60,
            90,
          ),
          walkable: true,
          move_speed_multiplier: 0.7,
        ),
        TerrainConfig(
          name: "WetSand",
          base: Sand,
          color: (
            235,
            235,
            235,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.9,
        ),
        TerrainConfig(
          name: "Sand",
          base: Sand,
          color: None,
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.9,
        ),
        TerrainConfig(
          name: "Gravel",
          base: Gravel,
          color: None,
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.7,
        ),
        TerrainConfig(
          name: "DarkGravel",
          base: Gravel,
          color: (
            215,
            215,
            220,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.7,
        ),
        TerrainConfig(
          name: "Stone",
          base: Stone,
          color: None,
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: None,
        ),
        TerrainConfig(
          name: "SandStone",
          base: Stone,
          color: (
            235,
            200,
            160,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: None,
        ),
        TerrainConfig(
          name: "RedStone",
          base: Stone,
          color: (
            255,
            170,
            180,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: None,
        ),
        TerrainConfig(
          name: "DarkStone",
          base: Stone,
          color: (
            170,
            170,
            180,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: None,
        ),
        TerrainConfig(
          name: "ThickYellowStone",
          base: ThickStone,
          color: (
            255,
            150,
            50,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.8,
        ),
        TerrainConfig(
          name: "ThickDarkStone",
          base: ThickStone,
          color: (
            170,
            170,
            180,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.8,
        ),
        TerrainConfig(
          name: "ThickRedStone",
          base: ThickStone,
          color: (
            170,
            50,
            50,
          ),
          decoration_color: None,
          walkable: true,
          move_speed_multiplier: 0.8,
        ),
      ],
      biomes: [
        BiomeConfig(
          name: "WetDesert",
          range: Range(
            start: 0.42,
            end: 0.48,
          ),
          terrains: [
            ("Sand", Range(start: 0.2, end: 0.85)),
            ("WetSand", Range(start: 0.0, end: 0.2)),
            ("Clay", Range(start: 0.9, end: 0.95)),
            ("SandStone", Range(start: 0.95, end: 1.0)),
          ],
          default_terrain: "Sand",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 20.0, y: 20.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 8.0, y: 8.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.05),
            Range(start: 0.53, end: 0.6),
            Range(start: 0.95, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "RiverBanks",
          range: Range(
            start: 0.528,
            end: 0.53,
          ),
          terrains: [
            ("DarkMud", Range(start: 0.5, end: 0.1)),
            ("RedMud", Range(start: 0.0, end: 0.5)),
          ],
          default_terrain: "DarkMud",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 8.0, y: 8.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 2.0, y: 2.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.35),
            Range(start: 0.85, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "SimpleDesert",
          range: Range(
            start: 0.52,
            end: 0.528,
          ),
          terrains: [
            ("Sand", Range(start: 0.1, end: 1.0)),
          ],
          default_terrain: "Sand",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 20.0, y: 20.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 8.0, y: 8.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.05),
            Range(start: 0.53, end: 0.6),
            Range(start: 0.95, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "Oasis",
          range: Range(
            start: 0.48,
            end: 0.52,
          ),
          terrains: [
            ("Sand", Range(start: 0.23, end: 0.85)),
            ("WetSand", Range(start: 0.2, end: 0.23)),
            ("Grass", Range(start: 0.1, end: 0.15)),
            ("DarkGrass", Range(start: 0.0, end: 0.1)),
            ("SwampWater", Range(start: 0.15, end: 0.2)),
            ("Clay", Range(start: 0.9, end: 0.95)),
            ("SandStone", Range(start: 0.95, end: 1.0)),
          ],
          default_terrain: "Sand",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 40.0, y: 40.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 8.0, y: 8.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.05),
            Range(start: 0.53, end: 0.6),
            Range(start: 0.95, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "SimpleDesert",
          range: Range(
            start: 0.24,
            end: 0.25,
          ),
          terrains: [
            ("Sand", Range(start: 0.1, end: 1.0)),
          ],
          default_terrain: "Sand",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 20.0, y: 20.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 8.0, y: 8.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.05),
            Range(start: 0.53, end: 0.6),
            Range(start: 0.95, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "SimpleDesert",
          range: Range(
            start: 0.3,
            end: 0.32,
          ),
          terrains: [
            ("Sand", Range(start: 0.1, end: 1.0)),
          ],
          default_terrain: "Sand",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 20.0, y: 20.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 8.0, y: 8.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.05),
            Range(start: 0.53, end: 0.6),
            Range(start: 0.95, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "DryDesert",
          range: Range(
            start: 0.25,
            end: 0.3,
          ),
          terrains: [
            ("Sand", Range(start: 0.25, end: 0.7)),
            ("DarkGravel", Range(start: 0.2, end: 0.25)),
            ("Stone", Range(start: 0.0, end: 0.2)),
            ("Clay", Range(start: 0.7, end: 0.75)),
            ("SandStone", Range(start: 0.75, end: 1.0)),
          ],
          default_terrain: "Sand",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 40.0, y: 40.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 8.0, y: 8.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.05),
            Range(start: 0.53, end: 0.6),
            Range(start: 0.95, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "RockDesert",
          range: Range(
            start: 0.32,
            end: 0.42,
          ),
          terrains: [
            ("Sand", Range(start: 0.7, end: 1.0)),
            ("Sand", Range(start: 0.0, end: 0.43)),
            ("Clay", Range(start: 0.43, end: 0.5)),
            ("SandStone", Range(start: 0.5, end: 0.7)),
          ],
          default_terrain: "Sand",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 18.0, y: 15.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 2.0, y: 2.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.45),
            Range(start: 0.75, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "Quarry",
          range: Range(
            start: 0.19,
            end: 0.24,
          ),
          terrains: [
            ("Sand", Range(start: 0.75, end: 1.0)),
            ("DarkGravel", Range(start: 0.5, end: 0.75)),
            ("Stone", Range(start: 0.15, end: 0.5)),
            ("ThickDarkStone", Range(start: 0.0, end: 0.15)),
          ],
          default_terrain: "DarkGravel",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 8.0, y: 8.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 2.0, y: 2.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.3),
            Range(start: 0.5, end: 0.6),
            Range(start: 0.8, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "Volcanic",
          range: Range(
            start: 0.0,
            end: 0.19,
          ),
          terrains: [
            ("VolcanicClay", Range(start: 0.25, end: 0.3)),
            ("VolcanicClay", Range(start: 0.77, end: 0.8)),
            ("VolcanicClay", Range(start: 0.5, end: 0.53)),
            ("Lava", Range(start: 0.2, end: 0.25)),
            ("Lava", Range(start: 0.53, end: 0.77)),
            ("ThickYellowStone", Range(start: 0.0, end: 0.2)),
            ("ThickRedStone", Range(start: 0.3, end: 0.5)),
            ("ThickYellowStone", Range(start: 0.8, end: 1.0)),
          ],
          default_terrain: "ThickRedStone",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 15.0, y: 15.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 2.0, y: 2.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.05),
            Range(start: 0.53, end: 0.6),
            Range(start: 0.95, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "RiverBanks",
          range: Range(
            start: 0.723,
            end: 0.725,
          ),
          terrains: [
            ("DarkMud", Range(start: 0.5, end: 0.1)),
            ("RedMud", Range(start: 0.0, end: 0.5)),
          ],
          default_terrain: "DarkMud",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 8.0, y: 8.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 2.0, y: 2.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.35),
            Range(start: 0.85, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "RiverBanks",
          range: Range(
            start: 0.729,
            end: 0.731,
          ),
          terrains: [
            ("DarkMud", Range(start: 0.5, end: 0.1)),
            ("RedMud", Range(start: 0.0, end: 0.5)),
          ],
          default_terrain: "DarkMud",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 20.0, y: 20.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 2.0, y: 2.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.35),
            Range(start: 0.85, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "River",
          range: Range(
            start: 0.725,
            end: 0.729,
          ),
          terrains: [
            ("ShallowWater", Range(start: 0.2, end: 1.0)),
          ],
          default_terrain: "ShallowWater",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 32.0, y: 16.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 2.0, y: 2.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.35),
            Range(start: 0.85, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "Plains",
          range: Range(
            start: 0.6,
            end: 0.723,
          ),
          terrains: [
            ("ShallowWater", Range(start: 0.0, end: 0.1)),
            ("RedMud", Range(start: 0.1, end: 0.24)),
            ("Grass", Range(start: 0.24, end: 0.55)),
            ("Grass", Range(start: 0.8, end: 1.0)),
            ("PlainsGrass", Range(start: 0.55, end: 0.8)),
          ],
          default_terrain: "Grass",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 10.0, y: 10.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 5.0, y: 5.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.1),
            Range(start: 0.5, end: 0.6),
            Range(start: 0.9, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "Swamp",
          range: Range(
            start: 0.53,
            end: 0.6,
          ),
          terrains: [
            ("DarkMud", Range(start: 0.5, end: 0.6)),
            ("DarkGrass", Range(start: 0.6, end: 0.7)),
            ("SwampGrass", Range(start: 0.7, end: 1.0)),
            ("SwampWater", Range(start: 0.25, end: 0.6)),
          ],
          default_terrain: "DarkGrass",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 4.0, y: 4.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 2.0, y: 2.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.45),
            Range(start: 0.75, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "Tundra",
          range: Range(
            start: 0.731,
            end: 0.8,
          ),
          terrains: [
            ("TundraGrass", Range(start: 0.0, end: 0.5)),
            ("FrozenGrass", Range(start: 0.5, end: 1.0)),
          ],
          default_terrain: "TundraGrass",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 9.0, y: 9.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 2.0, y: 2.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.35),
            Range(start: 0.85, end: 1.0),
          ],
        ),
        BiomeConfig(
          name: "Snow",
          range: Range(
            start: 0.8,
            end: 1.0,
          ),
          terrains: [
            ("FrozenWater", Range(start: 0.0, end: 0.35)),
            ("BlueSnow", Range(start: 0.9, end: 1.0)),
            ("BlueSnow", Range(start: 0.35, end: 0.45)),
            ("Snow", Range(start: 0.45, end: 0.9)),
          ],
          default_terrain: "Snow",
          noise_terrain: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 25.0, y: 25.0),
          ),
          noise_decoration: NoiseGeneratorSeedOffsetConfig(
            seed_offset: 0,
            noise_scale_factor: XY(x: 4.0, y: 4.0),
          ),
          decoration_eagerness: [
            Range(start: 0.0, end: 0.6),
            Range(start: 0.8, end: 1.0),
          ],
        ),
      ],
      biome_noise: NoiseGeneratorSeedOffsetConfig(
        seed_offset: 0,
        noise_scale_factor: XY(
          x: 1000.0,
          y: 1000.0,
        ),
      ),
    ),
    tile_size: Vec2(
      64.0,
      64.0,
    ),
    tile_scale: 1.0,
    debug_grid: false,
  ),
  hero: HeroConfig(
    move_speed: 2.0,
    spawn_point: Vec2(
      -318.2,
      -2941.0,
    ),
  ),
)