(
  world: (
    terrain_generation: (
      biomes: {
        SandyForest: [(Stone,(start:0.0,end:0.2)),(Sand,(start:0.2,end:0.3)),(Grass,(start:0.5,end:1.0))],
      },
      base_terrain: (
        seed: 34,
        noise_scale_factor: (x:4.0,y:4.0),
      ),
      decoration: (
        seed: 32,
        noise_scale_factor: (x:2.0,y:2.0),
      ),
    ),
    tile_size: (
      64.0,
      64.0,
    ),
    tile_scale: 1.0,
  ),
  hero: (
    move_speed: 2.1,
  ),
)